<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jigi.user.mapper.UserMapper">

    <insert id="insertUser">
        insert into useruser(
            user_email, user_password, user_name, sign_up_date, authority, enabled) values
        (#{user_email}, #{user_password}, #{user_name}, sysdate, 'role_user', 1);
    </insert>

    <select id="insertUserCheck">
        select count(*) from useruser where user_email = #{user_email};
    </select>
</mapper>